@page
@model BreakfastBuffet.Pages.KitchenModel
@{
}

<h2>Kitchen Overview</h2>

    <table>
         <thead>
            <tr>
              <th>Expected amount of people</th>
            </tr>
         </thead>
         <tbody>
                 <tr>
                       <td>Amounts in total:</td> 
                       <td>@Html.DisplayFor(x => x._expectedAmountOfPeople)</td>
                 </tr>
                <tr>
                       <td>Amount of adults:</td> 
                       <td>@Html.DisplayFor(x => x._expectedAmountOfAdults)</td>
                 </tr>
                 <tr>
                      <td>Amount of children:</td> 
                       <td>@Html.DisplayFor(x => x._expectedAmountOfChildren)</td>
                </tr>
          </tbody>
          </table>

        <table>
         <thead>
            <tr>
              <th>People checked in</th>
            </tr>
         </thead>
         <tbody>
                <tr>
                       <td>Amount of adults:</td> 
                       <td>@Html.DisplayFor(x => x._amountOfAdultsCheckedIn)</td>
                 </tr>
                 <tr>
                      <td>Amount of children:</td> 
                      <td>@Html.DisplayFor(x => x._amountOfChildrenCheckedIn)</td>
                </tr>
          </tbody>
            </table>

<script src ="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src ="~/js/kitchenInfo.js"></script>

